.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* BUTTONS */

.greetingsBtn {
  background-color: #3498db;
  border-radius: 20px;
  color: #ffffff;
  font-size: 1.1rem;
  padding: 10px 20px 10px 20px;
  border: none;
  cursor: pointer;
}

.greetingsBtn:hover {
  background: #4adbee;
  background-image: linear-gradient(to bottom, #4adbee, #3498db);
}

.countBtn {
  background-color: #253346;
  border-radius: 50px;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 0 10px 10px 0;
  width: 70px;
  height: 70px;
}

.countBtn:active {
  transform: scale(0.98);
}
